.active-control {
  background-color: #000000;
}

.inactive-control-heat {
  background-color: #8ea869;
}
.inactive-control-water {
  background-color: #187084;
}

.cleaner-active-room {
  background-color: #045072;
  border: 1px solid #ffffff;
}
.cleaner-inactive-room {
  background-color: #3d728a;
}
.bg-black{
  background-color: rgb(0 0 0);
}
.w-screen{
  width: 100vw;
}
.h-screen{
  height: 100vh;
}
.grid{
  display: grid;
}
.grid-cols-8{
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.gap-2{
  gap: 0.5rem; /* 8px */
}
.py-3{
  padding-top: 0.75rem; /* 12px */
padding-bottom: 0.75rem; /* 12px */
}
.px-3{
  padding-left: 0.75rem; /* 12px */
padding-right: 0.75rem; /* 12px */
}
.items-center{
  align-items: center;
}
.text-teal-50{
  color: rgb(240 253 250);
}