html {
  font-family: "Itim", cursive;
  padding: 0;
  margin: 0;
}

body {
  background-color:  rgb(217, 191, 226);
  height: 100vh;
  margin:0;
  justify-content: center;
  align-items: center;
  display: flex;
}


.input_class {
  /*top: 500px;*/
  border: 1px solid rgb(153, 151, 151);
  margin-bottom: 20px;
  background-color: antiquewhite;
  padding: 5px;
  color: black;
  width: 220px;
  border-radius: 8px;
  font-family: "Itim", cursive;
}
.button {
  color: black;
  background-color: rgb(140, 64, 146);
  width: 230px;
  height: 30px;
  border: 1px solid rgb(153, 151, 151);
  border-radius: 8px;
  font-family: "Itim", cursive;
  
}
.box_container{
  display: flex;
  background-color: antiquewhite;
  display: flex;
  height: 85%;
  width: 80%;
  border-radius: 10px;
}
.box-1{
  display: flex;
  align-items: center;
  width: 50%;
  justify-items: center;
  justify-content: center;
}
.box-2{
  width: 50%;
  object-fit: contain;
}
.landing-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.box_elements{
  display: grid;
}
p{
  margin-top: -5px;
  color: rgb(123, 123, 123);
}

