body{
    background-color: black;
}
.producer-part{
    display: flex;
    gap: 10px;
    color: white;
    padding-left: 100px;
}
.logo{
    background-color: white;
    border-radius: 15%;
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
    margin-top: 15px;

}
.bar_container{
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.home_automation{
    padding-left: 100px;
}
.clock{
    padding-right: 100px;
}
.table_container{
    display: flex;
    flex-direction: column;
    
}
.row-1{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 300px;
    gap: 45px;
}
.temprature_container{
    margin-left: 100px; 
    border-style: solid;
    background-color: #DFECBD;
}
.vakuum-cleaner_container{
    margin-right: 100px;
    border-style: solid;
    background-color: #77AAC1;
}
.row-2{
    margin-top: 35px;
    display: grid;
   grid-template-columns: repeat(3,1fr);
    height: 300px;
    gap: 0px; 
}
.door_container{
    margin-left: 100px; 
    border-style: solid;
    background-color: #9C9CDD;
}
.lights_container{
    border-style: solid;
    background-color: #EBD2B2;
    margin-left: 50px;
    margin-right: 50px;
}
.water-temprature_container{
    margin-right: 100px;
    border-style: solid;
    background-color: #60BAC6;
}
.title{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}